<launch>

    <arg name="map" />
    <arg name="world" />

    <param name="/use_sim_time" value="true" />

    <!-- Stage -->
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world).world" />
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 base_laser_link laser_front 100" />

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map).yaml"/>

    <!--- Run AMCL -->
    <include file="$(find tobi_navigation)/launch/amcl.launch">
        <arg name="topic_scan" value="/base_scan" />
    </include>

	<node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
	    <remap from="/scan_filtered" to="/base_scan" />
		<rosparam file="$(find tobi_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find tobi_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find tobi_navigation)/config/costmap_local_costmap_params.yaml" command="load" />
		<rosparam file="$(find tobi_navigation)/config/costmap_global_costmap_params.yaml" command="load" />
		<rosparam file="$(find tobi_navigation)/config/base_local_planner_params.yaml" command="load" />
		<param name="clearing_rotation_allowed" value="false"/>
	</node>
</launch>
