<launch>
    <!-- Run config for p2os -->
    <include file="$(find tobi_navigation)/launch/tobi_config.launch" />

    <!-- Run gmapping -->
    <include file="$(find tobi_navigation)/launch/gmapping.launch" >
        <arg name="topic_scan" value="scan_merged" />
    </include>

    <!-- Run move_base -->
    <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
        <rosparam file="$(find tobi_navigation)/config/costmap_common_params_rec.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tobi_navigation)/config/costmap_common_params_rec.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find tobi_navigation)/config/costmap_local_costmap_params.yaml" command="load" />
        <rosparam file="$(find tobi_navigation)/config/costmap_global_costmap_params.yaml" command="load" />
        <rosparam file="$(find tobi_navigation)/config/base_local_planner_params.yaml" command="load" />
        <param name="navfn/allow_unknown" value="true"/>
        <param name="clearing_rotation_allowed" value="false"/>
    </node>
</launch>
