<launch>

    <arg name="map"   />

    <arg name="use_sim" default="false" />
    <arg name="use_map" default="false" />

    <arg     if="$(arg use_map)" name="part_map" value="map" />
    <arg unless="$(arg use_map)" name="part_map" value="nomap" />

    <arg     if="$(arg use_sim)" name="part_sim" value="sim" />
    <arg unless="$(arg use_sim)" name="part_sim" value="mob" />

    <include file="$(find tobi_navigation)/launch/tobi_navigation_$(arg part_sim)_$(arg part_map).launch">
        <arg if="$(arg use_map)" name="map"   value="$(arg map)" />
        <arg if="$(arg use_sim)" name="world" value="$(arg world)" />
    </include>

</launch>
