<?xml version="1.0"?>
<launch>

  <arg name="debug" default="false" />
  <arg name="info" default="$(arg debug)" />
  <arg name="augmented" default="false"/>
  <!--env name="ROSCONSOLE_CONFIG_FILE" value="~/rosconsole.conf"/-->

  <!-- move_group -->
  <include file="$(find tobi_bringup)/launch/move_group_$(env TOBI_ID).launch">
    <arg name="info" value="$(arg info)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

</launch>
