<?xml version="1.0"?>
<launch>

  <arg name="debug" default="false" />
  <arg name="info" default="$(arg debug)" />
  <!--env name="ROSCONSOLE_CONFIG_FILE" value="~/rosconsole.conf"/-->
  
  <!-- katana_450_6m90a -->
  <include file="$(find tobi_bringup)/launch/katana.launch">
    <arg name="simulation" value="$(env MANIPULATION_USE_SIM)" />
  </include>

  <!-- move_group -->
  <include file="$(find tobi_bringup)/launch/move_group_$(env TOBI_ID).launch">
    <arg name="info" value="$(arg info)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- pick n place server -->
  <include file="$(find tobi_bringup)/launch/picknplace.launch">
    <arg name="use_sim" value="$(env MANIPULATION_USE_SIM)" />
  </include>

</launch>