<launch>

    <arg     if="$(env NAVIGATION_USE_MAP)" name="part_map" value="map" />
    <arg unless="$(env NAVIGATION_USE_MAP)" name="part_map" value="nomap" />

    <arg     if="$(env NAVIGATION_USE_SIM)" name="part_sim" value="sim" />
    <arg unless="$(env NAVIGATION_USE_SIM)" name="part_sim" value="mob" />

    <include file="$(find tobi_navigation)/launch/tobi_navigation_$(arg part_sim)_$(arg part_map).launch">
        <arg if="$(env NAVIGATION_USE_MAP)" name="map"   value="$(env NAVIGATION_MAP)" />
        <arg if="$(env NAVIGATION_USE_SIM)" name="world" value="$(env NAVIGATION_WORLD)" />
    </include>

    <include file="$(find ros4rsb)/launch/ros4rsb.launch">
        <arg name="use_sim" value="$(env NAVIGATION_USE_SIM)" />
    </include>

</launch>
