<?xml version="1.0"?>
<launch>
  <arg name="use_sim" default="false" />

  <include file="$(find tobi_picknplace)/launch/tobi_picknplace_server.launch">
    <arg name="transitions" value="$(find tobi_bringup)/config/picknplace_transitions.cfg" />
    <arg name="use_sim" value="$(arg use_sim)" />
    <arg name="gripperPositionClosed" value="-0.55" />
 </include>
</launch>
