<?xml version="1.0"?>
<launch>

  <arg name="debug" default="false" />
  <env name="ROSCONSOLE_CONFIG_FILE" value="~/rosconsole.conf"/>

  <include file="$(find tobi_bringup)/launch/manipulation.launch">
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- xtion -->
  <include file="$(find tobi_bringup)/launch/xtion.launch" />

</launch>
