<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <arg name="config" default="false" />
  <arg unless="$(arg config)" name="command_args" value="" />
  <arg     if="$(arg config)" name="command_args" value="-d $(find tobi_3of4_moveit_config)/launch/moveit.rviz" />

  <!-- to switch to trac_ik instead of ik_fast -->
  <arg name="use_trac_ik" default="false"/>

  <group if="$(arg use_trac_ik)">
    <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
	args="$(arg command_args)" output="screen">
      <rosparam command="load" file="$(find tobi_3of4_moveit_config)/config/kinematics_tracik.yaml"/>
    </node>
    </group>
    <group unless="$(arg use_trac_ik)">
       <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
	args="$(arg command_args)" output="screen">
        <rosparam command="load" file="$(find tobi_3of4_moveit_config)/config/kinematics_ikfast.yaml"/>
      </node>
    </group>

</launch>
